<div class="card" *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-12 buttons-full-width-inp">
        <div
          class="form-control"
          [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
        >
          <label for="title">Title:</label>
          <input id="title" type="text" formControlName="title">
          <div
            class="validation"
            *ngIf="form.get('title').touched && form.get('title').invalid"
          >
            <small *ngIf="form.get('title').errors.required">Enter post title.</small>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 buttons-full-width-inp">
        <div
          class="form-control"
          [ngClass]="{invalid: form.get('text').touched && form.get('text').invalid}"
        >
          <label for="text">Text:</label>
          <textarea id="text" class="text" type="text" formControlName="text"></textarea>
          <div
            class="validation"
            *ngIf="form.get('text').touched && form.get('text').invalid"
          >
            <small *ngIf="form.get('text').errors.required">Enter post content.</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row container-btn buttons-full-width">
      <div class="col-3">
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Update</button>
      </div>
    </div>
  </form>
</div>

<ng-template #loading>
  <p class="text-center">Загрузка...</p>
</ng-template>
