.container {
  max-width: 800px;
  padding: 10px;
  margin: 10px auto;

  table {
    width: 100%;
    margin-top: 10px;
  }

  .form-control{
    background: whitesmoke;
    border: none;

    label {
      width: 100%;
      margin: 0;
    }

    input {
      width: 100%;
      padding: 5px;
    }
  }

  button {
    margin: 5px;
    width: 100px;
  }

  th {
    border: none;
  }

  tr {
    border: 1px solid lightgrey;
  }

}
