/* You can add global styles to this file, and also import other style files */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
  background-color: white;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

.buttons-full-width .btn{
  width: 100%;
}

.buttons-full-width-inp input{
  width: 100%;
}

a{
  color: black;
}

a:hover{
  color: black;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.custom-header{
  background: #ebecef;
  height: 70px;
}

.custom-title-m10{
  margin: 10px;
}

.custom-title-mb10{
  margin-bottom: 10px;
}

.form-control{
  height: auto;
}
